body {
    position:absolute;
    background-color:bisque;
    background:url("../img/background.jpg") center fixed no-repeat;
}

a {
    color:deepskyblue;
}

h1 {
    font-size: 3em;
}

#main_container {
    margin:20px;
    padding:20px;
    width:640px;
    color:white;
    background:rgba(0,0,0,0.7);
}

form {
    color:black;
}

#main_container p + p {
    padding-top: 20px;
}

#main_container input[type="text"] {
    width: 240px;
}

#main_container input[type="submit"] {
    padding:5px 10px;
    border-radius: 20px;
}