body {
    position:absolute;
    background-color:bisque;
    background:url("../img/background.jpg") center fixed no-repeat;
}

a {
    color:deepskyblue;
}

header, footer {
    width:100%;
    text-align: center;
}

#main_container {
    margin:20px;
    padding:20px;
    width:640px;
    color:white;
    background:rgba(0,0,0,0.7);
}

#result {
    width:100%;
}