/*@font-face {
    font-family: "NOM de la POLICE";
    src: url('chemin/nom de la police.ttf');
}*/

.reset {
    left: 0px;top: 0px;
    margin: 0px;padding: 0px;
}

.maxsize {
    width:100%;height:100%;
}

.maxwidth {
    width:100%;
}

.maxheight {
    height:100%;
}

.noverflow {
    overflow:hidden;
}

.show {
    display:block;
}

.showflex {
    display:flex;
}

.hide {
    display:none;
}

.txtcenter {
    text-align: center;
}

.flexible {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction:column;
}

.flex-column-start {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap:wrap;
}

.flex-wrap-start {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.flex-wrap-center {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-wrap-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.flex-wrap-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.flex-column-wrap {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.flex-column-wrap-start {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.flex-column-wrap-center {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}